

* {
    font-family: Arial, Helvetica, sans-serif;
}

body{
    margin: 0px;
}

header{
    margin: 0px;
    padding: 20px 0px 25px;
    background-color: rgba(165, 42, 42, 0.082);
    border-radius: 0px 0px 25px 25px;
    box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.363);
}

nav>a{
    padding: 50px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

nav>a:hover{
    color: red;
    transition-duration: 0.2s;
}