

:root{
    --cor1: #E07D7B;
    --cor2: #C72A28 ;
    --cor3: #94201E ;
    --cor4: #470F0E ;
    --cor5: #472524 ;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

body{
    margin: 0px;
    height: 100vh;
    }

header{
    margin: 0px;
    padding: 20px 0px 25px;
    background-color: var(--cor1);
    border-radius: 0px 0px 25px 25px;
    box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.363);
    position: relative;
}

nav a{
    font-size: 1.1em;
    padding: 50px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

nav div{
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translate( 0%, -50%);
}

nav a:hover{
    color: var(--cor2);
    transition-duration: 0.3s;
}

nav form{
    display: inline-block;
}

nav form input{
    width: 500px;
    height: 30px;
    padding-left: 5px;
    border-radius: 10px;
    border: var(--cor2) solid 1px;
}

nav form input::after{
    border: var(--cor3) solid 1px;
}

#icon{
    height: 50px;
}